@import "header-fotter.scss";
@import "index.scss";
@import "nuestros-clientes.scss";
@import "servicios.scss";
@import "sobre-nosotros.scss";
@import "trabaja-con-nosotros.scss";
@import "trabajos-realizados.scss";
@import "contacto.scss";
@import "variables.scss";

/* Global */
* {
  box-sizing: border-box;
  zoom: 100%;
}

img {
  max-width: 100%;
}

/****Inicio Mobile****/

body {
  background-color: $color-body;
  color: #000000;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  overflow-x: hidden;
}

main {
  grid-area: main;
}

.positionSticky {
  position: sticky;
  top: 215px;
  height: 40px;
  margin-bottom: 25px;

  background-color: $color-body;
}

/****Fin Mobile****/

/****Inicio Desktop****/

@media screen and (min-width: 1024px) {
  .positionSticky {
    top: 160px;
  }
}

/****Fin Desktop****/
