/* Servicios */

.servicios-contenedor1 {
  width: 60%;
  height: 300px;
}

/****Fin Mobil****/

/****Inicio Desktop****/

@media screen and (min-width: 1024px) {
  .servicios-grid {
    display: grid;
    grid-template-areas: "contenedor1 imagen1";
    grid-template-columns: 5fr 7fr;

    position: relative;
    top: 50px;
  }

  .servicios-contenedor1 {
    grid-area: contenedor1;
  }
}
/****Fin Desktop****/

/****Inicio Mobil****/

.servicios-contenedor2 {
  position: relative;
}

/****Fin Mobil****/

/****Inicio Desktop****/

@media screen and (min-width: 1024px) {
  .servicios-contenedor2 {
    grid-area: imagen1;
  }
}

/****Fin Desktop****/

/****Inicio Mobil****/

.servicios-contenedor2__imagen1 {
  height: 450px;
  width: 100%;
  z-index: 20;
}
/****Fin Mobil****/

/****Inicio Desktop****/

@media screen and (min-width: 1024px) {
  .servicios-contenedor2__imagen1 {
    z-index: 20;
    width: 100%;
    height: 400px;
  }
}
/****Fin Desktop****/

/****Inicio Mobil****/
.servicios-contenedor3 {
  height: 600px;
  margin-top: 10px;
}

.servicios-contenedor3--display-flex {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

@media screen and (min-width: 1024px) {
  /* Servicios */

  .servicios-contenedor3 {
    position: relative;
    top: 150px;

    height: 500px;
  }

  .servicios-contenedor3--display-flex {
    display: flex;
    justify-content: space-around;
  }
}
